#chart svg {
  background: #eee;
}

rect.bar {
  fill: #738C77;

}

.productivity {
  stroke: #8F5966;
  fill: none;
  stroke-width: 8;
  opacity: 0.8;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.x text{
 transform: rotate(65);
}

.legend {
  fill: none;
  stroke: black;
  opacity: 0.8;
}

.legend text {
  fill: black;
  stroke-width: 0.4;
}
div.barTooltip,
div.circleToolTip {
    position: absolute;
    text-align: center;
    width: 5em;
    height: 1.4em;
    padding: 0.2em;
    font: 1.8em sans-serif;
    background: #8FABFF;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: white;
}

circle.lineGraphCircle {
  opacity: 0.8;
  fill: #06BF90;
  stroke: #06BF90;
}
